In [1]:
# Importing Libraries
import ast
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt  

# Loading Data
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

# Data Cleanup
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

In [4]:
df["job_skills"].head(3)

0                                                 None
1           [r, python, sql, nosql, power bi, tableau]
2    [python, sql, c#, azure, airflow, dax, docker,...
Name: job_skills, dtype: object

In [6]:
df['job_skills'] = df['job_skills'].apply(lambda x: x if isinstance(x, list) else x)

df[['job_title_short', 'job_skills']].head(5)

        job_title_short                                         job_skills
0  Senior Data Engineer                                                 []
1          Data Analyst         [r, python, sql, nosql, power bi, tableau]
2         Data Engineer  [python, sql, c#, azure, airflow, dax, docker,...
3         Data Engineer  [python, c++, java, matlab, aws, tensorflow, k...
4         Data Engineer  [bash, python, oracle, aws, ansible, puppet, j...