In [1]:
import pandas as pd
import numpy as np
from datasets import load_dataset
import matplotlib.pyplot as plt

In [2]:
#loading dataset 

dataset = load_dataset("lukebarousse/data_jobs")

data_jobs = dataset['train'].to_pandas()

data_jobs ["job_posted_date"] = pd.to_datetime(data_jobs.job_posted_date)

In [3]:
data_jobs.sample(10)

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills
414968,Data Engineer,Data Engineer,"Pretoria, South Africa",via BeBee South Africa,Full-time,False,South Africa,2023-03-14 16:31:18,True,False,South Africa,None,NaN,NaN,Network Contracting Solutions,None,None
314986,Data Scientist,Static Data Specialist,"Bratislava, Slovakia",via Trabajo.org,Full-time,False,Slovakia,2023-04-22 17:23:16,True,False,Slovakia,None,NaN,NaN,ING,None,None
411116,Data Scientist,Workday Services Data Consultant,"Monterrey, Nuevo Leon, Mexico",via BeBee,Full-time,False,Mexico,2023-12-25 16:21:24,True,False,Mexico,None,NaN,NaN,WPP IT,None,None
693859,Data Engineer,Data Engineer - Hedge Fund - £200k,"London, UK",via WAVY Jobs,Full-time,False,United Kingdom,2023-07-26 10:17:10,True,False,United Kingdom,None,NaN,NaN,Westbourne Partners Ltd,"['python', 'c++', 'rust', 'aws']","{'cloud': ['aws'], 'programming': ['python', '..."
443959,Senior Data Scientist,Senior Data Scientist,South Africa,via LinkedIn,Full-time,False,South Africa,2023-08-15 16:30:51,False,False,South Africa,None,NaN,NaN,Santam Insurance,"['sql', 'python', 'r', 'java', 'scala', 'sas',...","{'analyst_tools': ['sas', 'alteryx', 'spss'], ..."
208373,Business Analyst,Reporting Analyst,"Dublin, Ireland",via EMPREGO.pt,Full-time,False,Ireland,2023-08-05 23:39:43,True,False,Ireland,None,NaN,NaN,Confidential,['excel'],{'analyst_tools': ['excel']}
414657,Data Engineer,Staff Data Engineer,Anywhere,via LinkedIn,Full-time,True,"California, United States",2023-03-07 16:31:26,False,True,United States,None,NaN,NaN,BEGiN,"['python', 'sql', 'no-sql', 'aws', 'gcp', 'dat...","{'analyst_tools': ['looker'], 'cloud': ['aws',..."
259763,Software Engineer,Senior Data Engineer / Software Engineer - Now...,"Columbia, MD",via Snagajob,Full-time,False,Sudan,2023-03-04 07:36:44,False,False,Sudan,None,NaN,NaN,iNovex Information Systems,"['python', 'java', 'sql', 'nosql', 'atlassian'...","{'async': ['jira', 'confluence'], 'other': ['a..."
742727,Data Scientist,Data Scientist - Pricing,"Denver, CO",via My Champlain Valley Jobs,Full-time,False,Sudan,2023-04-10 20:52:51,False,False,Sudan,None,NaN,NaN,The Hertz Corporation,"['python', 'sql', 'aws']","{'cloud': ['aws'], 'programming': ['python', '..."
488355,Data Engineer,Data Engineer II,"Lahore, Pakistan",via LinkedIn,Full-time,False,Pakistan,2023-04-08 11:30:56,False,False,Pakistan,None,NaN,NaN,Afiniti,"['python', 'mongodb', 'mongodb', 'no-sql', 'sq...","{'databases': ['mongodb', 'mysql', 'cassandra'..."

In [12]:
data_jobs.index.dtype

dtype('int64')

In [17]:
datajobs_australia = data_jobs[data_jobs['job_country'] == "Australia"]

datajobs_australia.reset_index(inplace= True)

datajobs_australia.head(5)

,index,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills
0,90,Data Scientist,Data Scientist,Australia,via BeBee Australia,Full-time,False,Australia,2023-11-25 13:12:03,False,False,Australia,None,NaN,NaN,Concurrent Technologies Corporation,"['python', 'sql', 'r', 'java', 'bash', 'react'...","{'analyst_tools': ['tableau'], 'libraries': ['..."
1,501,Software Engineer,Senior Engineer - Platform Engineering,"Sydney NSW, Australia",via LinkedIn,Full-time,False,Australia,2023-04-01 13:10:30,False,False,Australia,None,NaN,NaN,Slalom Build,"['aws', 'chef', 'puppet', 'ansible', 'terraform']","{'cloud': ['aws'], 'other': ['chef', 'puppet',..."
2,758,Senior Data Engineer,Senior Data Engineer,"Sydney NSW, Australia",via Trabajo.org,Full-time,False,Australia,2023-03-18 13:15:07,True,False,Australia,None,NaN,NaN,Mirvac,"['aws', 'snowflake', 'azure']","{'cloud': ['aws', 'snowflake', 'azure']}"
3,1178,Data Engineer,Data Center Engineer,"Sydney NSW, Australia",via LinkedIn,Full-time,False,Australia,2023-02-09 13:38:29,False,False,Australia,None,NaN,NaN,Technical Global Solutions,"['react', 'excel']","{'analyst_tools': ['excel'], 'libraries': ['re..."
4,1278,Cloud Engineer,Infrastructure Engineer,"Fortitude Valley QLD, Australia",via LinkedIn,Full-time,False,Australia,2023-03-01 13:25:38,False,False,Australia,None,NaN,NaN,Equinix Asia-Pacific,"['powershell', 'sql', 'sql server', 'azure', '...","{'cloud': ['azure', 'aws', 'vmware'], 'databas..."

In [20]:
datajobs_australia.set_index('index', inplace = True)

datajobs_australia

KeyError: "None of ['index'] are in the columns"

In [23]:
# Filter for Australia
datajobs_australia = data_jobs[data_jobs['job_country'] == "Australia"].copy()

# Reset index so it starts from 0
datajobs_australia.reset_index( inplace=True)

# Display first 5 rows
datajobs_australia.head()

,index,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills
0,90,Data Scientist,Data Scientist,Australia,via BeBee Australia,Full-time,False,Australia,2023-11-25 13:12:03,False,False,Australia,None,NaN,NaN,Concurrent Technologies Corporation,"['python', 'sql', 'r', 'java', 'bash', 'react'...","{'analyst_tools': ['tableau'], 'libraries': ['..."
1,501,Software Engineer,Senior Engineer - Platform Engineering,"Sydney NSW, Australia",via LinkedIn,Full-time,False,Australia,2023-04-01 13:10:30,False,False,Australia,None,NaN,NaN,Slalom Build,"['aws', 'chef', 'puppet', 'ansible', 'terraform']","{'cloud': ['aws'], 'other': ['chef', 'puppet',..."
2,758,Senior Data Engineer,Senior Data Engineer,"Sydney NSW, Australia",via Trabajo.org,Full-time,False,Australia,2023-03-18 13:15:07,True,False,Australia,None,NaN,NaN,Mirvac,"['aws', 'snowflake', 'azure']","{'cloud': ['aws', 'snowflake', 'azure']}"
3,1178,Data Engineer,Data Center Engineer,"Sydney NSW, Australia",via LinkedIn,Full-time,False,Australia,2023-02-09 13:38:29,False,False,Australia,None,NaN,NaN,Technical Global Solutions,"['react', 'excel']","{'analyst_tools': ['excel'], 'libraries': ['re..."
4,1278,Cloud Engineer,Infrastructure Engineer,"Fortitude Valley QLD, Australia",via LinkedIn,Full-time,False,Australia,2023-03-01 13:25:38,False,False,Australia,None,NaN,NaN,Equinix Asia-Pacific,"['powershell', 'sql', 'sql server', 'azure', '...","{'cloud': ['azure', 'aws', 'vmware'], 'databas..."