In [1]:
import pandas as pd
import numpy as np
from datasets import load_dataset
import matplotlib.pyplot as plt

In [2]:
#loading dataset 

dataset = load_dataset("lukebarousse/data_jobs")

data_jobs = dataset['train'].to_pandas()

data_jobs ["job_posted_date"] = pd.to_datetime(data_jobs.job_posted_date)

In [5]:
data_jobs.sample(10, random_state =34)

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills
137303,Senior Data Analyst,"Data Analyst, Sr.","Orange, CA",via Lensa,Full-time,False,"California, United States",2023-02-09 08:01:05,False,False,United States,None,NaN,NaN,Government jobs,"['sql', 'visual basic', 'vba', 'excel', 'outlo...","{'analyst_tools': ['excel', 'outlook', 'powerp..."
146823,Data Analyst,Data Analyst II,"Austin, TX",via Trabajo.org,Full-time,False,"Texas, United States",2023-03-28 08:03:18,True,True,United States,None,NaN,NaN,"PDS Tech, Inc.",['excel'],{'analyst_tools': ['excel']}
212207,Data Analyst,Data Analyst I,"Deerfield, IL",via JobSparx,Full-time,False,"Illinois, United States",2023-05-01 22:02:14,False,False,United States,None,NaN,NaN,Experis,"['sql', 'tableau', 'visio', 'word', 'powerpoin...","{'analyst_tools': ['tableau', 'visio', 'word',..."
135081,Data Analyst,Application Support Data Analytics,"Buenos Aires, Argentina",via BeBee,Full-time,False,Argentina,2023-10-16 08:45:40,True,False,Argentina,None,NaN,NaN,Emprego,"['sql', 'nosql', 'python', 'elasticsearch', 'a...","{'analyst_tools': ['splunk'], 'cloud': ['aws']..."
737611,Data Engineer,Data AI Engineer (chatbot),Anywhere,via Indeed,Full-time,True,Netherlands,2023-08-30 21:39:51,False,False,Netherlands,None,NaN,NaN,Apollo Solutions,"['python', 'go', 'aws', 'azure', 'databricks',...","{'cloud': ['aws', 'azure', 'databricks'], 'lib..."
27340,Software Engineer,Software integration engineer,Italy,via BeBee,Full-time,False,Italy,2023-07-12 13:14:18,False,False,Italy,None,NaN,NaN,Kion Group AG,None,None
306027,Business Analyst,Business Analyst,India,via BeBee India,Full-time,False,India,2023-05-25 17:25:27,False,False,India,None,NaN,NaN,intellijobs,"['sql', 'excel', 'power bi', 'flow']","{'analyst_tools': ['excel', 'power bi'], 'othe..."
488192,Data Analyst,Data Analyst,Hong Kong,via Trabajo.org - Job Search - Jobs,Full-time,False,Hong Kong,2023-04-03 11:51:48,True,False,Hong Kong,None,NaN,NaN,A.S. Watson Group,"['python', 'sql', 'watson']","{'cloud': ['watson'], 'programming': ['python'..."
63805,Data Scientist,"Lead, Data Science","Bengaluru, Karnataka, India",via LinkedIn,Full-time,False,India,2023-11-12 06:08:58,False,False,India,None,NaN,NaN,Kyndryl,"['go', 'python', 'r', 'aws', 'pytorch', 'tenso...","{'cloud': ['aws'], 'libraries': ['pytorch', 't..."
670653,Machine Learning Engineer,Machine Learning Engineer ( Senior or Junior ),"Neuilly-sur-Seine, France",via Welcome To The Jungle,Full-time,False,France,2023-02-13 10:31:48,False,False,France,None,NaN,NaN,Reverso,None,None

In [6]:
new_data_jobs = data_jobs.copy()